@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

*,
*::after,
*::before {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@font-face {
    font-family: 'Kawit'; 
    src: url('../fonts/Kawit.ttf') format('truetype'), 
}

.usekawit {
  color:gold; 
  margin-bottom: 20px; 
  font-family: Kawit, sans-serif; 
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  font-size: 3.5rem;
  -webkit-text-stroke: 1px black;
}

.title {
  font-family: "Kanit", sans-serif;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.about-section {
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    overflow: hidden; 
}

.about-section::before {
    content: "";
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;  
    background-image:  url('../assets/about-section.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    filter: grayscale(70%); 
    z-index: 1; 
}

.about-section .content {
    position: relative; 
    z-index: 2; 
    color: white; 
    text-align: center; 
}

.grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.profile-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
  position: relative;
}

.profile-image {
  position: relative;
  top: -60px;
  right: -10px;
  border-radius: 1rem;
  width: 11rem;
  height: 11rem;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.profile-info {
  text-align: center;
  margin-top: -3rem;
  margin-bottom: 1rem;
}

.profile-info > .profile-name {
  color: #212121;
}

.profile-info > .profile-desc {
  color: #666666;
  font-size: 0.9rem;
}

.status {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 1rem;
  margin-bottom: 1.3rem;
}

.status-value {
  color: #212121;
  font-weight: 700;
}

.status-text {
  font-size: 0.8rem;
  color: #7c7c7d;
}

.action {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn {
  border: none;
  padding: 0.8em 1.9em;
  border-radius: 0.35rem;
  cursor: pointer;
  font-weight: 600;
}

.btn-pink {
  background: #b82151;
  color: white;
}

.btn-gray-outline {
  border: 1px solid;
  background: transparent;
  color: #b82151;
}

.img-1 {
  background-image: url('https://www.writeups.org/wp-content/uploads/Invisible-Girl-Marvel-Comics-Fantastic-Four-Susan-Richards-1960s-portrait-featured.jpg?imgeng=/cmpr_60/w_1280?crop=faces&fit=crop&w=400&h=400');
}

.img-2 {
  background-image: url('https://flash.comiccruncher.com/images/characters/60d919da.jpg?crop=faces&fit=crop&w=400&h=400');
}

.img-3 {
  background-image: url('https://static1.srcdn.com/wordpress/wp-content/uploads/2023/09/reed-richards-mister-fantastic-in-bright-costume-in-marvel-comics.png?crop=faces&fit=crop&w=400&h=400');
}

.img-4 {
  background-image: url('https://static1.srcdn.com/wordpress/wp-content/uploads/2020/11/Ben-Grimm-The-Thing.jpg?crop=faces&fit=crop&w=400&h=400');
}