.rowone {
  display: flex;
  overflow-x: auto;
  overflow-y: disable;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  width: 100vw;
  height: 80vh;
  margin-top: 45px;
  margin-bottom: 50px;
  scrollbar-width: none;
}
.rowone::-webkit-scrollbar {
  display: none;
}
.banner-container {
  flex: 0 0 100vw;
  scroll-snap-align: start;
  text-align: center;
}
.banner-image {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

/* Poster styles */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  height: 500px;
}
.poster-container {
  margin: 10px;
  text-align: center;
  width: 225px; /* Set a fixed width for all poster containers */
  display: inline-block;
}

.poster-image {
  height: 400px; 
  width: 100%; /* Make the image take up the full width of the container */
  object-fit: cover;
}

.poster-name {
  font-family: 'Kawit';
  font-size: 20px;
  margin-top: 10px;
  word-wrap: break-word; /* Enable word wrapping */
  white-space: normal; /* Ensure the text wraps instead of overflowing */
  max-width: 100%; /* Prevent text from overflowing the container */
}

.venue-name {
  font-family: 'Kawit';
  font-size: 50px;
  color: #1e3504;
  margin-top: 10px;
  margin-left: 10vw;
}
.banner-indicators {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 0;
}
.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}
.dot.active {
  background-color: #fff;
}
.rowone-wrapper {
  position: relative;
}

hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(239, 191, 4, 0.5);
    border: none; /* Remove default border */
    width: 100%; /* Full width */
    margin: 0 20px; /* Margin above and below */
}

.swiper-container {
    max-width: 80vw; /* Adjust to leave space on both sides */
    margin: 0 auto; /* Center the container horizontally */
}

.swiper {
    width: 100%;
    max-width: 100%;
    padding: 10px 0; /* Simplified padding */
}

.swiper-wrapper {
    max-width: 100%;
    margin-left: 0; /* Remove left margin since the parent is centered */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: #EFBF04 !important;
}

.swiper-pagination-bullet {
  margin-top: 5px !important;
  background: #EFBF04 !important;
}